@import "tailwindcss";
@source "../pages";
@source "../komponen";
@source "../bagian";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  /* Offset for fixed navbar */
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      transparent) rgb(var(--background-end-rgb));
}